{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ARAA Home Page</title>

  <!-- This one came with template:: Bootstrap core CSS -->
  <link href="{% static 'vinwash/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

  <!-- This one came with template:: Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'vinwash/business-frontpage.css' %}" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" type="text/css">


   <!-- This one is for progress bar -->
   <style>
    #myProgress {
      width: 100%;
      background-color: #ddd;
    }

    #myBar {
      width: 10%;
      height: 30px;
      background-color: #4CAF50;
      text-align: center; /* To center it horizontally (if you want) */
      line-height: 30px; /* To center it vertically */
      color: white;
    }
  </style>
  <!-- this one is for highcharts -->
  <style type="text/css">
		#container {
			min-width: 310px;
			max-width: 800px;
			height: 400px;
			margin: 0 auto
		}
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'vinwash-home' %}">Takata Recall</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'vinwash-home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>

          {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
          {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-25">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
            <h1 class="display-4 text-white mt-5 mb-2">Dashboard: Navigation and Reports</h1>
          <p class="lead mb-5 text-white-50"></p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">


      <!-- --------------------------------------------------------- content 2 --------------------------------------------------------------------->
       <div class="row">
      <div class="col mb-5">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if abc %}
            {{ abc }}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col mb-5">
        <a class="btn btn-primary btn-lg" href="#">Add New Business &raquo;</a>
      </div>
      <div class="col mb-5">
        <a class="btn btn-primary btn-lg" href="{% url 'upload_bulk' %}">Upload Bulke &raquo;</a>
      </div>
      <div class="col mb-5">
        <a class="btn btn-primary btn-lg" href="{% url 'upload_file' %}">Upload Via Form &raquo;</a>
      </div>
      <div class="col mb-5">
          <a class="btn btn-primary btn-lg" href="{% url 'upload_file' %}">Miscellaneous &raquo;</a>
      </div>
    </div>

    <div class="row">
      <div class="col mb-5">
        <a class="btn btn-primary btn-lg" href="#">Report 1 &raquo;</a>
      </div>
      <div class="col mb-5">
        <a class="btn btn-primary btn-lg" href="#">Report 2 &raquo;</a>
      </div>
      <div class="col mb-5">
        <a class="btn btn-primary btn-lg" href="#">Report 3 &raquo;</a>
      </div>
      <div class="col mb-5">
        <a class="btn btn-primary btn-lg" href="#">Report 4 &raquo;</a>
      </div>
    </div>



    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col mb-5">
        <div class="card h-100">
          <div class="card-body">

            <div id="container"></div>

          </div>

        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <div class="card-body">


            <div id="container1" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>


          </div>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col mb-5">
        <div class="card h-100">
          <div class="card-body">

            <div id="container2"></div>

          </div>

        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <div class="card-body">


            <div id="container3" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>


          </div>

        </div>
      </div>
    </div>
      <!-- --------------------------------------------------------- content 2 --------------------------------------------------------------------->








    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vinwash/jquery.min.js' %}"></script>
  <script src="{% static 'vinwash/bootstrap.bundle.min.js' %}"></script>

  <!-- this js for progress bar -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script>
  $("#myid").ready(function(){
      var elem = document.getElementById("myBar");
      var width = 10;
      var id = setInterval(frame, 40);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
        } else {
          width++;
          elem.style.width = width + '%';
          elem.innerHTML = width * 1 + '%';
          if (width > 10 && width < 20) {
              document.getElementById("test").innerHTML = "Saving File to Repository!";
          }
          if (width > 30 && width < 40) {
              document.getElementById("test").innerHTML = "Removing in File and between File duplicates!";
          }
          if (width > 50 && width < 60) {
              document.getElementById("test").innerHTML = "Saving original and washed vins!";
          }
          if (width > 70 && width < 80) {
              document.getElementById("test").innerHTML = "Saving duplicate conflict!";
          }
          if (width > 90 && width < 100) {
              document.getElementById("test").innerHTML = "DONE";
          }


        }
      }
  })
  </script>
  <script src="{% static 'vinwash/highchart/export-data.js' %}"></script>
  <script src="{% static 'vinwash/highchart/exporting.js' %}"></script>
  <script src="{% static 'vinwash/highchart/highcharts.js' %}"></script>
  <script src="{% static 'vinwash/highchart/series-label.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function() {
        $('#example').DataTable();
      } );
  </script>

  {% if data1 %}
      {{ data1 }}
  {% endif %}

  <script type="text/javascript">
    Highcharts.chart('container', {

        title: {
            text: 'State wise count of vin located!!'
        },

        subtitle: {
            text: 'Source: vw database'
        },

        yAxis: {
            title: {
                text: 'States'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        /*
        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 1
            }
        },
        */
        series: [{
            name: 'Victoria',
            data: {{ vic }}
        }, {
            name: 'Queensland',
            data: {{ qld }}
        }, {
            name: 'Northern Territory',
            data: {{ nt }}
        }, {
            name: 'New South Wales',
            data: {{ nsw }}
        }, {
            name: 'South Australia',
            data: {{ sa }}
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
  </script>
  <script type="text/javascript">
    Highcharts.chart('container1', {
        chart: {
            type: 'area'
        },
        title: {
            text: 'State wise percentage of vin located'
        },
        subtitle: {
            text: 'Source: vw database'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Ju', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Percent'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f} millions)<br/>',
            split: true
        },
        plotOptions: {
            area: {
                stacking: 'percent',
                lineColor: '#ffffff',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#ffffff'
                }
            }
        },
        series: [{
            name: 'Queensland',
            data: {{ qld }}
        }, {
            name: 'New South Wales',
            data: {{ nsw }}
        }, {
            name: 'Vicoria',
            data: {{ vic }}
        }, {
            name: 'Northern Territory',
            data: {{ nt }}
        }, {
            name: 'South Australia',
            data: {{ sa }}
        }]
    });
  </script>
  <script type="text/javascript">
    Highcharts.chart('container2', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Monthly Vins'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Rainfall (mm)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Air Bags',
            data: {{ w_airbags }}

        }, {
            name: 'Alpha',
            data: {{ w_alpha }}

        }, {
            name: 'Vins',
            data: {{ w_vins }}

        }]
    });
  </script>
  <script type="text/javascript">
    Highcharts.chart('container3', {
        chart: {
            type: 'spline',
            animation: Highcharts.svg, // don't animate in old IE
            marginRight: 10,
            events: {
                load: function () {

                    // set up the updating of the chart each second
                    var series = this.series[0];
                    setInterval(function () {
                        var x = (new Date()).getTime(), // current time
                            y = Math.random();
                        series.addPoint([x, y], true, true);
                    }, 1000);
                }
            }
        },

        time: {
            useUTC: false
        },

        title: {
            text: 'Live random data'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150
        },
        yAxis: {
            title: {
                text: 'Value'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br/>',
            pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
        },
        legend: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        series: [{
            name: 'Random data',
            data: (function () {
                // generate an array of random data
                var data = [],
                    time = (new Date()).getTime(),
                    i;

                for (i = -19; i <= 0; i += 1) {
                    data.push({
                        x: time + i * 1000,
                        y: Math.random()
                    });
                }
                return data;
            }())
        }]
    });
  </script>
</body>
</html>
