{% extends "users/base.html" %}{% load crispy_forms_tags %}
{% block content1 %}
<h1 class="display-4 text-white mt-5 mb-2">Files List</h1>
{% endblock content1 %}
{% block content2 %}
<div class="row">
  <div class="col-md-8 mb-5">
    <h2>
        Upload File
    </h2>
    <hr>
      <!-- added from master app -->
    <div class="content-section">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="document">
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit Form</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>
      <!-- added from master app -->
  </div>
  <div class="col-md-4 mb-5">

  </div>
</div>
{% endblock content2 %}