{% extends "users/base.html" %}{% load crispy_forms_tags %}
{% block content1 %}
<h1 class="display-4 text-white mt-5 mb-2">Upload File</h1>
{% endblock content1 %}
{% block content2 %}
<div class="row">
  <div class="col-md-8 mb-5">
      <!-- added from master app -->
    <div class="content-section">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Upload Now</button>
            </div>
        </form>
    </div>
      <!-- added from master app -->
  </div>
  <div class="col-md-4 mb-5">
    {% if abc %}
      {{ abc }}
    {% endif %}
  </div>
</div>
{% endblock content2 %}